# Module 5 Project
### Author: Valerie Johnson  Date: September 19, 2023
#### Repository: [datafun-05-data-at-rest](https://github.com/Valpal84/datafun-05-data-at-rest)

### Task 1- Read and work through Chapter 9 - Files & Exceptions - understand the examples
- 9.1 Introduction
- 9.2 Files
- 9.3 Text-File Processing
     - 9.3.1 Writing to a Text File: Introducing the with statement
     - 9.3.2 Reading Data from a Text File

In [1]:
with open('accounts.txt', mode='w') as accounts:
    accounts.write('100 Jones 24.98\n')
    accounts.write('200 Doe 345.67\n')
    accounts.write('300 White 0.00\n')
    accounts.write('400 Stone -42.16\n')
    accounts.write('500 Rich 224.62\n')

In [2]:
with open('accounts.txt', mode='r') as accounts:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    for record in accounts:
        account, name, balance = record.split()
        print(f'{account:<10}{name:<10}{balance:>10}')

Account   Name         Balance
100       Jones          24.98
200       Doe           345.67
300       White           0.00
400       Stone         -42.16
500       Rich          224.62

- 9.4 Updating Text Files

In [4]:
accounts = open('accounts.txt', 'r')
temp_file = open('temp_file.txt', 'w')
with accounts, temp_file:
    for record in accounts:
        account, name, balance = record.split()
        if account != '300':
            temp_file.write(record)
        else:
            new_record = ' '.join([account, 'Williams', balance])
            temp_file.write(new_record + '\n')

In [5]:
import os
os.remove('accounts.txt')
os.rename('temp_file.txt', 'accounts.txt')

- 9.5 Serialization with JSON

In [6]:
accounts_dict = {'accounts': [
    {'account': 100, 'name': 'Jones', 'balance':24.98},
    {'account': 200, 'name': 'Doe', 'balance': 345.67}]}

import json
with open('accounts.json', 'w') as accounts:
    json.dump(accounts_dict, accounts)

In [7]:
with open('accounts.json', 'r') as accounts:
    accounts_json = json.load(accounts)

accounts_json

{'accounts': [{'account': 100, 'name': 'Jones', 'balance': 24.98},
  {'account': 200, 'name': 'Doe', 'balance': 345.67}]}

In [8]:
accounts_json['accounts']

[{'account': 100, 'name': 'Jones', 'balance': 24.98},
 {'account': 200, 'name': 'Doe', 'balance': 345.67}]

In [9]:
accounts_json['accounts'][0]

{'account': 100, 'name': 'Jones', 'balance': 24.98}

In [10]:
accounts_json['accounts'][1]

{'account': 200, 'name': 'Doe', 'balance': 345.67}

In [11]:
#json module's dumps function
with open('accounts.json', 'r') as accounts:
    print(json.dumps(json.load(accounts), indent=4))

{
    "accounts": [
        {
            "account": 100,
            "name": "Jones",
            "balance": 24.98
        },
        {
            "account": 200,
            "name": "Doe",
            "balance": 345.67
        }
    ]
}

- 9.6 Focus on Security: pickle Serialization and Deserialization
- 9.7 Additional Notes Regarding Files
- 9.8 Handling Exceptions
     - 9.8.1 Division by Zero and Invalid Input
     - 9.8.2 try Statements
     - 9.8.3 Catching Multiple Exceptions in One except Clause
     - 9.8.4 What Exceptions Does a Function or Method Raise
     - 9.8.5 What Code Should Be Placed in a try Suite

In [12]:
10/0

ZeroDivisionError: division by zero

In [13]:
value = int(input('Enter an integer'))
Enter an integer: hello

SyntaxError: invalid syntax (1775446659.py, line 2)

In [14]:
# dividebyzero.py
"""Simple exception handling example."""
while True:
    # attempt to convert and divide values
    try:
        number1 = int(input('Enter numerator: '))
        number2 = int(input('Enter denominator: '))
        result = number1 / number2
    except ValueError: #tried to cover non-numeric value to int
        print('You must enter two integers\n')
    except ZeroDivisionError: #denominator was 0
        print('Attempted to divide by zero\n')
    else: #executes only if no exceptions occur
        print(f'{number1:.3f} / {number2:.3f} = {result:.3f}')
        break # terminate the loop

Attempted to divide by zero

You must enter two integers

100.000 / 7.000 = 14.286

- 9.9 finally Clause

In [15]:
try:
    print('try suite with no exceptions raised')
except:
    print('this will not execute')
else:
    print('else executes because no exceptions in the try suite')
finally:
    print('finally always executes')

try suite with no exceptions raised
else executes because no exceptions in the try suite
finally always executes

In [16]:
try:
    print('try suite that raises an exception')
    int('hello')
    print('this will not execute')
except ValueError:
    print('a ValueError occured')
else:
    print('else will not execute because an exception occured')
finally:
    print('finally always executes')

try suite that raises an exception
a ValueError occured
finally always executes

In [17]:
open('gradez.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'gradez.txt'

In [18]:
try:
    with open('gradez.txt', 'r') as accounts:
        print(f'{"ID":<3}{"Name":<7}{"Grade"}')
        for record in accounts:
            student_id, name, grade = record.split()
            print(f'{student_id:<3}{name:<7}{grade}')
except FileNotFoundError:
    print('The file name you specified does not exist')

The file name you specified does not exist

- 9.10 Explicitly Raising an Exception
- 9.11 (Optional) Stack Unwinding and Tracebacks

In [20]:
def function1():
    function2()

def function2():
    raise Exception('An exception occured')

function1()

Exception: An exception occured

- 9.12 Intro to Data Science: Working with CSV Files
     - 9.12.1 Python Standard Library Module csv
     - 9.12.2 Reading CSV Files into Pandas dataframes

In [21]:
import csv
with open('accounts.csv', mode='w', newline='') as accounts:
    writer = csv.writer(accounts)
    writer.writerow([100, 'Jonas', 24.98])
    writer.writerow([200, 'Doe', 345.67])
    writer.writerow([300, 'White', 0.00])
    writer.writerow([400, 'Stone', -42.16])
    writer.writerow([500, 'Rich', 224.62])

In [22]:
with open('accounts.csv', 'r', newline='') as accounts:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    reader = csv.reader(accounts)
    for record in reader:
        account, name, balance = record
        print(f'{account:<10}{name:<10}{balance:>10}')

Account   Name         Balance
100       Jonas          24.98
200       Doe           345.67
300       White            0.0
400       Stone         -42.16
500       Rich          224.62

In [24]:
import pandas as pd
df = pd.read_csv('accounts.csv', 
                 names =['account', 'name', 'balance'])
df

   account   name  balance
0      100  Jonas    24.98
1      200    Doe   345.67
2      300  White     0.00
3      400  Stone   -42.16
4      500   Rich   224.62

In [25]:
df.to_csv('accounts_from_dataframe.csv', index=False)

- The following sections will be completed when doing Task 3.     
     - 9.12.3 Reading the Titanic Disaster Dataset
     - 9.12.4 Simple Data Analysis with the Titanic Disaster Dataset
     - 9.12.5 Passenger Age Histogram